<div class="login-container">
  <h2>Gerenciador de Tarefas!</h2>
  <p>Por favor, insira suas credenciais para acessar sua conta.</p>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" required />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="!loginForm.form.valid" style="background-color: rgb(20, 95, 180);" [ngClass]="{'disabled-button': !loginForm.form.valid}">
      Continuar
    </button>
  </form>
</div>